.content-main {
    max-width: 428px;
}

.title-1 {
    font-size: 42px;
    line-height: 52px;
    color: #3745BD;
}

.paragraph-1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    }
